/* Mode clair/Sombre */
/* MODE SOMBRE (DE BASE) */
:root {
  --primaire: black;
  --secondaire: white;
  --font: #42403d;
  --bordure: rgb(100, 100, 100);
  --bordure_txt: none;
}
  /* MODE CLAIR */
.clair {
  --primaire: white;
  --secondaire: black;
  --font: white;
  --bordure: rgb(223, 223, 223);
  --bordure_txt: black;
}
.icone {
  position: inherit;
  max-width: 100%;
  width:30px !important;
  height: 30px !important;
  cursor:pointer;
}
body {
  background-repeat: no-repeat;
  transition: 0.5s;
  overflow: scroll !important;
}

@media screen and (min-width: 650px) {
  body {
    background-size: 100vw 100vh;
  }
  .aligner {
    display: flex;
  }
  #myProgress, #myBar, .cal {
    outline: 1px solid var(--bordure);
  }
}
.zone {
  background: none;
  outline: none !important;
  border: none;
  font: inherit;
  color: inherit !important;

}
select::-ms-expand {
  display: none;
}
@media screen and (max-width: 650px) {
  body {
    object-fit: none;
    background-position-x: 50%;
    background-size: cover;
    background-size: 200% 100vh;
  }
  .aligner {
    white-space: nowrap;
  }
  .item {
    display:inline-block;
    justify-content: center;
  }
  .tel_none {
    display:none;
  }
}

/* BAR DE PROGRESSION */
#txt_bar {
  position: absolute;
  top: 5px;
  padding-top: 8px;
  z-index: 2;
  white-space: nowrap;
}
/* parent */
#myProgress {
  display: flex;
  height: 30px;
  border-radius: 25px; 
  margin: 0 auto;
  width: 100%;
  left: 50px; /* Pour le soleil */
  background-color: #f4f5dc;
  z-index: 0;
}
/* child 1 */
#myBar {
  /* right: 50px;  Pour le soleil */
  position: relative;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  height: 30px;
  background-color: rgb(0, 199, 0);
  line-height: 30px;
  z-index: 1;
}
/* .fond {
  background-image: linear-gradient(to right, yellow, green);
} */
.aligner {
  transition: 1s;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.item {
  transition: 1s;
  position: relative;
  width:calc((100%-1000)/2);
}

.item .h3_nb, .item .h3_txt {
  text-align:center;
  position: absolute;
  line-height: 125px;
  width: 100%;
}
.Titre {
  font-size: 45px;
  color: black;
  border-color: var(--bordure_txt);
  margin-top: 10px;
  text-align: center;
}
svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation_seconde, .circle_animation_minute, .circle_animation_heure, .circle_animation_jour {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 0.5s linear;
}

.h3_nb {
  color: var(--secondaire);
}

span {
  display: block;
}
span#vacs {
  display: inline-block !important;
}

/* Calendrier */
.millieu1, .millieu, .zone {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.cal {
  border-radius: 10px;
}

.etoile_bar, .etoile_delay, label, .h3_txt, .Titre, #début {
  color: var(--primaire);
  stroke-width: 2000000px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--bordure_txt);
  transition: 0.5s;
}

#menu::-webkit-scrollbar {
  display: none;
}

#menu {
  overflow: auto;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.fermer {
  top:0;
  margin-left:0%;
}
#menu_couleur {
  transition:0.5s;
  position: fixed;
  padding-bottom:0;
  bottom:1%;
  left:0;
  padding-left:1%;
}
#menu_couleur:hover {
  transition:0.5s;
  bottom:1%;
  left:0;
  padding-left:1%;
  transform: rotate(90deg);
}
.Som-Cla {
  background-color: var(--primaire);
  opacity: 0.80;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.Som-Cla > p, p.virgul, div > label {
  color: var(--secondaire) !important;
  width:100% !important;
  text-align: center !important;
  vertical-align: middle !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px !important;
  opacity: 1 !important;
}
.Som-Cla > p > img {
  padding-bottom: (10px);
  height: 25px !important;
  width: 25px !important;
}
div > p.virgul {
  all: inherit;
}
p.virgul > input {
  width: 70%
}

.ligne {
  background-color: var(--secondaire);
  top: 1px;
  bottom:1px;
}
.Cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primaire);
  color: var(--secondaire);
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  z-index: 2;
  width: 100%;
  display: none;
}

.AccepterCookies {
  color: var(--primaire);
  background: var(--secondaire) !important;
  text-decoration: underline;
  cursor: pointer;
  opacity: 100% !important;
}

label {
  font-weight: normal !important;
}

select option {
  background: var(--secondaire);
  color: var(--primaire);
  text-shadow: 0 1px 0 var(--primaire);
}
option {
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}
select {
  object-fit: contain;
  width: auto;
}